{% extends 'shop/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1>Контакты</h1>

        <div class="card">
            <p><strong>Адрес:</strong> Джалал-Абад</p>
            <p><strong>Телефон:</strong> +996 555 000 000</p>
            <p><strong>Email:</strong> info@flowershop.kg</p>
            <p><strong>Instagram:</strong> @flowershop</p>
            <p><strong>Время работы:</strong> 08:00 — 22:00</p>
        </div>
    </div>
</section>
{% endblock %}